/*
position: absolute, relative, fixed, static(기본값)
*/
.wrap {max-width: 800px; margin: auto; background-color: cadetblue;}
.box {width: 200px; height: 200px; color: #fff; text-align: center;
line-height: 200px;}
#box1 {background-color: crimson; 
	position: absolute; z-index: 3; left: 100px; top: 100px;}
#box2 {background-color: #0d5396; 
	position: absolute; z-index: 4; right: 0; bottom: 0;}
#box3 {background-color: #28911f; 
	position: absolute; z-index: 5; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}